<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>

    <title>Title</title>
</head>
<body>
<main layout:fragment="content">

    <section>
        <h1 th:text="#{login.title}">Login here</h1>

        <form name="f" th:action="@{/login}" method="post" class="form-signin">
            <h2 class="form-signin-heading" th:text="#{login.info}">Please sign in</h2>
            <div th:if="${param.error}" class="alert alert-danger" th:text="#{login.error-param}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success"th:text="#{login.logout}">
                You have been logged out.
            </div>
            <label for="username" class="sr-only" th:text="#{login.username}">Username</label>
            <input type="text" id="username" name="username" class="form-control"  required="true" />
            <label for="password" class="sr-only" th:text="#{login.password}">Password</label>
            <input type="password" id="password" name="password" class="form-control" required="true" />
            <div class="checkbox">
                <label>
                    <input id="remember-me" name="remember-me" type="checkbox" th:text="#{login.remember-me}" />
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.btn-sign-in}">Sign in</button>
        </form>
        <br>
        <a href="register.html" th:href="@{register}" th:text="#{login.register-here}">Register here</a>
    </section>

</main>
</body>
</html>