<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Rosa Lund</title>
</head>
<body>
<header th:fragment="header">
    <figure id="logo">
        <a th:href="@{/}"><img th:src="@{resources/fragments/header-imgs/logo.png}" alt="recruitment logo"/></a>
    </figure>
    <p th:text="#{header.application}">Recruitment Application</p>
    <div class="navbar-text navbar-right">
        <form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
             <button th:text="#{header.logout}" type="button" href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Logout</button>
        </form>
    </div>
</header>
</body>
</html>